.input {
    background: rgba(255, 255, 255, 0.15);
    border:none;
    width: 400px;
    height: 36px;
    margin-top: 63px;
    margin-bottom: 100px;
    margin-right: 20px;
    padding-left: 10px;
    color: white;
}

.input::placeholder {
    color:white;
}




.button {
    background-color: #55C2D8;
    border: none;
    color: white;
    cursor: pointer;
    outline: none;
    font-family: 'Oswald';
    border-radius: 26px;
    font-size: 14px;
    height: 36px;
    width: 111px;
    font-size: 14px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}