.section {
    background-image: url('./Mask\ Group.png'), linear-gradient(rgba(5, 17, 18, 0.5), rgba(5, 17, 18, 0.5));
    background-blend-mode: multiply;
    background-size: cover;
    height: 436px;
    padding-top: 20px;
}

.section h1 {
    margin: 0;
    padding: 10px;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
    /* or 133% */

    text-align: center;

    color: #FFFFFF;
}

.section p {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    /* or 133% */

    text-align: center;

    color: rgba(255, 255, 255, 0.7);
}