@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
.subtitle {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: #666666;
}
.list {
    display: flex;
    flex-direction: row;
}